# Data Cleaning

## Indicies of Deprivation 2015 Files

I removed all empty spaces between the column headings in the "File_2_ID2015_Domains_of_deprivation.xlsx" file to make it easier to work with and renamed the file to "ID2015_Domains_of_deprivation.xlsa".

## Loading in the datasets

In [1]:
import pandas as pd

In [2]:
# Load file "Domains of Deprivation 2015" into dataframe

data = './data/Deprivation_Index/ID2015_Domains_of_deprivation.xlsx'
df = pd.read_excel(data, sheet_name='ID2015 Domains')

In [3]:
df.head(3)

,LSOA_code_2011,LSOA_name_2011,Local_Authority_District_code_2013,Local_Authority_District_name_2013,Index_of_Multiple_Deprivation_IMD_Rank,Index_of_Multiple_Deprivation_IMD_Decile,Income_Rank,Income_Decile,Employment_Rank,Employment_Decile,Education_Skills_and_Training_Rank,Education_Skills_and_Training_Decile,Health_Deprivation_and_Disability_Rank,Health_Deprivation_and_Disability_Decile,Crime_Rank,Crime_Decile,Barriers_to_Housing_and_Services_Rank,Barriers_to_Housing_and_Services_Decile,Living_Environment_Rank,Living_Environment_Decile
0,E01031349,Adur 001A,E07000223,Adur,21352,7,18992,6,19305,6,13727,5,25876,8,12817,4,28166,9,18367,6
1,E01031350,Adur 001B,E07000223,Adur,8864,3,9233,3,7879,3,6969,3,6883,3,12781,4,11399,4,16242,5
2,E01031351,Adur 001C,E07000223,Adur,22143,7,24539,8,23389,8,10213,4,24693,8,9112,3,24743,8,22299,7

In [8]:
list(df.columns)

['LSOA_code_2011',
 'LSOA_name_2011',
 'Local_Authority_District_code_2013',
 'Local_Authority_District_name_2013',
 'Index_of_Multiple_Deprivation_IMD_Rank',
 'Index_of_Multiple_Deprivation_IMD_Decile',
 'Income_Rank',
 'Income_Decile',
 'Employment_Rank',
 'Employment_Decile',
 'Education_Skills_and_Training_Rank',
 'Education_Skills_and_Training_Decile',
 'Health_Deprivation_and_Disability_Rank',
 'Health_Deprivation_and_Disability_Decile',
 'Crime_Rank',
 'Crime_Decile',
 'Barriers_to_Housing_and_Services_Rank',
 'Barriers_to_Housing_and_Services_Decile',
 'Living_Environment_Rank',
 'Living_Environment_Decile']

In [9]:
# Tell me more about the dataset
df_info = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32844 entries, 0 to 32843
Data columns (total 20 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   LSOA_code_2011                            32844 non-null  object
 1   LSOA_name_2011                            32844 non-null  object
 2   Local_Authority_District_code_2013        32844 non-null  object
 3   Local_Authority_District_name_2013        32844 non-null  object
 4   Index_of_Multiple_Deprivation_IMD_Rank    32844 non-null  int64
 5   Index_of_Multiple_Deprivation_IMD_Decile  32844 non-null  int64
 6   Income_Rank                               32844 non-null  int64
 7   Income_Decile                             32844 non-null  int64
 8   Employment_Rank                           32844 non-null  int64
 9   Employment_Decile                         32844 non-null  int64
 10  Education_Skills_and_Training_Rank        32844 non-null  int64
 11  Education_Skills_and_Training_Decile      32844 non-null  int64
 12  Health_Deprivation_and_Disability_Rank    32844 non-null  int64
 13  Health_Deprivation_and_Disability_Decile  32844 non-null  int64
 14  Crime_Rank                                32844 non-null  int64
 15  Crime_Decile                              32844 non-null  int64
 16  Barriers_to_Housing_and_Services_Rank     32844 non-null  int64
 17  Barriers_to_Housing_and_Services_Decile   32844 non-null  int64
 18  Living_Environment_Rank                   32844 non-null  int64
 19  Living_Environment_Decile                 32844 non-null  int64
dtypes: int64(16), object(4)
memory usage: 5.0+ MB

In [17]:
# Descibe the dataset please
pd.options.display.float_format = '{:,.2f}'.format # Only want to see 2 decimal places
df.describe()

,Index_of_Multiple_Deprivation_IMD_Rank,Index_of_Multiple_Deprivation_IMD_Decile,Income_Rank,Income_Decile,Employment_Rank,Employment_Decile,Education_Skills_and_Training_Rank,Education_Skills_and_Training_Decile,Health_Deprivation_and_Disability_Rank,Health_Deprivation_and_Disability_Decile,Crime_Rank,Crime_Decile,Barriers_to_Housing_and_Services_Rank,Barriers_to_Housing_and_Services_Decile,Living_Environment_Rank,Living_Environment_Decile
count,"32,844.00","32,844.00","32,844.00","32,844.00","32,844.00","32,844.00","32,844.00","32,844.00","32,844.00","32,844.00","32,844.00","32,844.00","32,844.00","32,844.00","32,844.00","32,844.00"
mean,"16,422.50",5.50,"16,422.50",5.50,"16,422.50",5.50,"16,422.50",5.50,"16,422.50",5.50,"16,422.50",5.50,"16,422.50",5.50,"16,422.50",5.50
std,"9,481.39",2.87,"9,481.39",2.87,"9,481.39",2.87,"9,481.39",2.87,"9,481.39",2.87,"9,481.39",2.87,"9,481.39",2.87,"9,481.39",2.87
min,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
25%,"8,211.75",3.00,"8,211.75",3.00,"8,211.75",3.00,"8,211.75",3.00,"8,211.75",3.00,"8,211.75",3.00,"8,211.75",3.00,"8,211.75",3.00
50%,"16,422.50",5.50,"16,422.50",5.50,"16,422.50",5.50,"16,422.50",5.50,"16,422.50",5.50,"16,422.50",5.50,"16,422.50",5.50,"16,422.50",5.50
75%,"24,633.25",8.00,"24,633.25",8.00,"24,633.25",8.00,"24,633.25",8.00,"24,633.25",8.00,"24,633.25",8.00,"24,633.25",8.00,"24,633.25",8.00
max,"32,844.00",10.00,"32,844.00",10.00,"32,844.00",10.00,"32,844.00",10.00,"32,844.00",10.00,"32,844.00",10.00,"32,844.00",10.00,"32,844.00",10.00

In [33]:
# Who has the worst income in England?
df[df['Income_Rank'] == 1]

,LSOA_code_2011,LSOA_name_2011,Local_Authority_District_code_2013,Local_Authority_District_name_2013,Index_of_Multiple_Deprivation_IMD_Rank,Index_of_Multiple_Deprivation_IMD_Decile,Income_Rank,Income_Decile,Employment_Rank,Employment_Decile,Education_Skills_and_Training_Rank,Education_Skills_and_Training_Decile,Health_Deprivation_and_Disability_Rank,Health_Deprivation_and_Disability_Decile,Crime_Rank,Crime_Decile,Barriers_to_Housing_and_Services_Rank,Barriers_to_Housing_and_Services_Decile,Living_Environment_Rank,Living_Environment_Decile
2598,E01012673,Blackpool 010A,E06000009,Blackpool,2,1,1,1,10,1,47,1,12,1,10,1,24093,8,766,1

## Census data

In [44]:
df1 = pd.read_csv("./data/census/NS_SeC_16_to_24.csv")
df1.head()

,2011 super output area - middle layer,mnemonic,1.1 Large employers and higher managerial and administrative occupations,1.2 Higher professional occupations,"2. Lower managerial, administrative and professional occupations",3. Intermediate occupations,4. Small employers and own account workers,5. Lower supervisory and technical occupations,6. Semi-routine occupations,7. Routine occupations,L14.1 Never worked,L14.2 Long-term unemployed,L15 Full-time students,L17 Not classifiable for other reasons
0,Darlington 001,E02002559,2.00,14.00,77.00,89.00,11.00,39.00,92.00,66.00,23.00,3.00,321.00,0.00
1,Darlington 002,E02002560,3.00,9.00,35.00,80.00,9.00,43.00,97.00,60.00,25.00,7.00,242.00,0.00
2,Darlington 003,E02002561,2.00,7.00,55.00,70.00,5.00,37.00,77.00,39.00,26.00,5.00,217.00,0.00
3,Darlington 004,E02002562,2.00,4.00,50.00,87.00,8.00,42.00,130.00,89.00,60.00,25.00,240.00,0.00
4,Darlington 005,E02002563,0.00,11.00,52.00,58.00,7.00,28.00,90.00,67.00,47.00,8.00,186.00,0.00