# Data Cleaning

## Indicies of Deprivation 2015 Files

### File Refactoring:
I removed all empty spaces between the column headings in the "File_2_ID2015_Domains_of_deprivation.xlsx" file to make it easier to work with and renamed the file to "ID2015_Domains_of_deprivation.xlsa".

In [2]:
import pandas as pd

In [2]:
# Load file "Domains of Deprivation 2015" into dataframe

data = './data/Deprivation_Index/ID2015_Domains_of_deprivation.xlsx'
df = pd.read_excel(data, sheet_name='ID2015 Domains')

In [54]:
df.head(10)

,LSOA_code_2011,LSOA_name_2011,Local_Authority_District_code_2013,Local_Authority_District_name_2013,Index_of_Multiple_Deprivation_IMD_Rank,Index_of_Multiple_Deprivation_IMD_Decile,Income_Rank,Income_Decile,Employment_Rank,Employment_Decile,Education_Skills_and_Training_Rank,Education_Skills_and_Training_Decile,Health_Deprivation_and_Disability_Rank,Health_Deprivation_and_Disability_Decile,Crime_Rank,Crime_Decile,Barriers_to_Housing_and_Services_Rank,Barriers_to_Housing_and_Services_Decile,Living_Environment_Rank,Living_Environment_Decile
0,E01031349,Adur 001A,E07000223,Adur,21352,7,18992,6,19305,6,13727,5,25876,8,12817,4,28166,9,18367,6
1,E01031350,Adur 001B,E07000223,Adur,8864,3,9233,3,7879,3,6969,3,6883,3,12781,4,11399,4,16242,5
2,E01031351,Adur 001C,E07000223,Adur,22143,7,24539,8,23389,8,10213,4,24693,8,9112,3,24743,8,22299,7
3,E01031352,Adur 001D,E07000223,Adur,17252,6,16087,5,13699,5,10468,4,19627,6,16127,5,19559,6,22819,7
4,E01031370,Adur 001E,E07000223,Adur,15643,5,17918,6,13322,5,7819,3,14893,5,13723,5,22433,7,18191,6
5,E01031374,Adur 001F,E07000223,Adur,21176,7,23201,8,18948,6,18006,6,18846,6,14566,5,22170,7,13264,5
6,E01031338,Adur 002A,E07000223,Adur,27934,9,25105,8,24672,8,23320,8,19734,7,24708,8,30180,10,22234,7
7,E01031339,Adur 002B,E07000223,Adur,28249,9,23260,8,26753,9,28719,9,22885,7,31928,10,16896,6,20275,7
8,E01031340,Adur 002C,E07000223,Adur,27569,9,30776,10,30033,10,18895,6,25426,8,11383,4,21712,7,20427,7
9,E01031365,Adur 002D,E07000223,Adur,18352,6,14577,5,15724,5,20284,7,16349,5,12413,4,28520,9,16154,5

In [8]:
list(df.columns)

['LSOA_code_2011',
 'LSOA_name_2011',
 'Local_Authority_District_code_2013',
 'Local_Authority_District_name_2013',
 'Index_of_Multiple_Deprivation_IMD_Rank',
 'Index_of_Multiple_Deprivation_IMD_Decile',
 'Income_Rank',
 'Income_Decile',
 'Employment_Rank',
 'Employment_Decile',
 'Education_Skills_and_Training_Rank',
 'Education_Skills_and_Training_Decile',
 'Health_Deprivation_and_Disability_Rank',
 'Health_Deprivation_and_Disability_Decile',
 'Crime_Rank',
 'Crime_Decile',
 'Barriers_to_Housing_and_Services_Rank',
 'Barriers_to_Housing_and_Services_Decile',
 'Living_Environment_Rank',
 'Living_Environment_Decile']

In [9]:
# Tell me more about the dataset
df_info = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32844 entries, 0 to 32843
Data columns (total 20 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   LSOA_code_2011                            32844 non-null  object
 1   LSOA_name_2011                            32844 non-null  object
 2   Local_Authority_District_code_2013        32844 non-null  object
 3   Local_Authority_District_name_2013        32844 non-null  object
 4   Index_of_Multiple_Deprivation_IMD_Rank    32844 non-null  int64
 5   Index_of_Multiple_Deprivation_IMD_Decile  32844 non-null  int64
 6   Income_Rank                               32844 non-null  int64
 7   Income_Decile                             32844 non-null  int64
 8   Employment_Rank                           32844 non-null  int64
 9   Employment_Decile                         32844 non-null  int64
 10  Education_Skills_and_Training_Rank        32844 non-null  int64
 11  Education_Skills_and_Training_Decile      32844 non-null  int64
 12  Health_Deprivation_and_Disability_Rank    32844 non-null  int64
 13  Health_Deprivation_and_Disability_Decile  32844 non-null  int64
 14  Crime_Rank                                32844 non-null  int64
 15  Crime_Decile                              32844 non-null  int64
 16  Barriers_to_Housing_and_Services_Rank     32844 non-null  int64
 17  Barriers_to_Housing_and_Services_Decile   32844 non-null  int64
 18  Living_Environment_Rank                   32844 non-null  int64
 19  Living_Environment_Decile                 32844 non-null  int64
dtypes: int64(16), object(4)
memory usage: 5.0+ MB

In [48]:
# Descibe the dataset please
#pd.options.display.float_format = '{:,.2f}'.format # Only want to see 2 decimal places
df.describe()

,Index_of_Multiple_Deprivation_IMD_Rank,Index_of_Multiple_Deprivation_IMD_Decile,Income_Rank,Income_Decile,Employment_Rank,Employment_Decile,Education_Skills_and_Training_Rank,Education_Skills_and_Training_Decile,Health_Deprivation_and_Disability_Rank,Health_Deprivation_and_Disability_Decile,Crime_Rank,Crime_Decile,Barriers_to_Housing_and_Services_Rank,Barriers_to_Housing_and_Services_Decile,Living_Environment_Rank,Living_Environment_Decile
count,32844.000000,32844.000000,32844.000000,32844.000000,32844.000000,32844.000000,32844.000000,32844.000000,32844.000000,32844.000000,32844.000000,32844.000000,32844.000000,32844.000000,32844.000000,32844.000000
mean,16422.499391,5.500122,16422.498660,5.500122,16422.498873,5.500122,16422.499330,5.500122,16422.499726,5.500122,16422.499635,5.500122,16422.499208,5.500122,16422.499574,5.500122
std,9481.390618,2.872325,9481.390331,2.872325,9481.390246,2.872325,9481.390748,2.872325,9481.390467,2.872325,9481.390606,2.872325,9481.390574,2.872325,9481.390570,2.872325
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,8211.750000,3.000000,8211.750000,3.000000,8211.750000,3.000000,8211.750000,3.000000,8211.750000,3.000000,8211.750000,3.000000,8211.750000,3.000000,8211.750000,3.000000
50%,16422.500000,5.500000,16422.500000,5.500000,16422.500000,5.500000,16422.500000,5.500000,16422.500000,5.500000,16422.500000,5.500000,16422.500000,5.500000,16422.500000,5.500000
75%,24633.250000,8.000000,24633.250000,8.000000,24633.250000,8.000000,24633.250000,8.000000,24633.250000,8.000000,24633.250000,8.000000,24633.250000,8.000000,24633.250000,8.000000
max,32844.000000,10.000000,32844.000000,10.000000,32844.000000,10.000000,32844.000000,10.000000,32844.000000,10.000000,32844.000000,10.000000,32844.000000,10.000000,32844.000000,10.000000

In [49]:
# Who has the worst income in England?
df[df['Income_Rank'] == 1]

,LSOA_code_2011,LSOA_name_2011,Local_Authority_District_code_2013,Local_Authority_District_name_2013,Index_of_Multiple_Deprivation_IMD_Rank,Index_of_Multiple_Deprivation_IMD_Decile,Income_Rank,Income_Decile,Employment_Rank,Employment_Decile,Education_Skills_and_Training_Rank,Education_Skills_and_Training_Decile,Health_Deprivation_and_Disability_Rank,Health_Deprivation_and_Disability_Decile,Crime_Rank,Crime_Decile,Barriers_to_Housing_and_Services_Rank,Barriers_to_Housing_and_Services_Decile,Living_Environment_Rank,Living_Environment_Decile
2598,E01012673,Blackpool 010A,E06000009,Blackpool,2,1,1,1,10,1,47,1,12,1,10,1,24093,8,766,1

## Census data

### File Refactoring
File 85043238.csv : The file meta data was removed. All empty spaces in the heading row was replaced with underscore.  The file name was changed to "NS_SeC_16_to_24.csv"

File 87985007.csv : The file meta data was removed. All empty spaces in the heading row was replaced with underscore. The file name was changed to "NS_SeC_25_to_49.csv"

File 91695374.csv : The file meta data was removed. All empty spaces in the heading row was replaced with underscore. The file name was changed to "NS_SeC_50_to_64.csv"

File 93917134.csv : The file meta data was removed. All empty spaces in the heading row was replaced with underscore. The file name was changed to "NS_SeC_65_to_over.csv"

In all four files the heading "2011 super output area - middle layer" was changed to MSOA_2011 and the heading "mnemonic" was changed to MSOA_code_2011. The empty row after the heading row was also removed.

In [7]:
# Lets test to see if all our df are working fine.
df1 = pd.read_csv("./data/census/NS_SeC_16_to_24.csv")
df1.head(3)

,MSOA_2011,MSOA_code_2011,1.1_Large_employers_and_higher_managerial_and_administrative_occupations,1.2_Higher_professional_occupations,"2._Lower_managerial,_administrative_and_professional_occupations",3._Intermediate_occupations,4._Small_employers_and_own_account_workers,5._Lower_supervisory_and_technical_occupations,6._Semi-routine_occupations,7._Routine_occupations,L14.1_Never_worked,L14.2_Long-term_unemployed,L15_Full-time_students,L17_Not_classifiable_for_other_reasons
0,Darlington 001,E02002559,2,14,77,89,11,39,92,66,23,3,321,0
1,Darlington 002,E02002560,3,9,35,80,9,43,97,60,25,7,242,0
2,Darlington 003,E02002561,2,7,55,70,5,37,77,39,26,5,217,0

In [8]:
df2 = pd.read_csv("./data/census/NS_SeC_25_to_49.csv")
df2.head(3)

,MSOA_2011,MSOA_code_2011,1.1_Large_employers_and_higher_managerial_and_administrative_occupations,1.2_Higher_professional_occupations,"2._Lower_managerial,_administrative_and_professional_occupations",3._Intermediate_occupations,4._Small_employers_and_own_account_workers,5._Lower_supervisory_and_technical_occupations,6._Semi-routine_occupations,7._Routine_occupations,L14.1_Never_worked,L14.2_Long-term_unemployed,L15_Full-time_students,L17_Not_classifiable_for_other_reasons
0,Darlington 001,E02002559,145,408,1112,492,308,217,285,167,34,40,32,0
1,Darlington 002,E02002560,52,142,531,407,176,185,310,220,38,45,27,0
2,Darlington 003,E02002561,37,143,481,335,121,134,272,200,35,33,19,0

In [10]:
df3 = pd.read_csv("./data/census/NS_SeC_50_to_64.csv")
df3.head(3)

,MSOA_2011,MSOA_code_2011,1.1_Large_employers_and_higher_managerial_and_administrative_occupations,1.2_Higher_professional_occupations,"2._Lower_managerial,_administrative_and_professional_occupations",3._Intermediate_occupations,4._Small_employers_and_own_account_workers,5._Lower_supervisory_and_technical_occupations,6._Semi-routine_occupations,7._Routine_occupations,L14.1_Never_worked,L14.2_Long-term_unemployed,L15_Full-time_students,L17_Not_classifiable_for_other_reasons
0,Darlington 001,E02002559,75,179,503,240,281,99,180,134,14,18,3,0
1,Darlington 002,E02002560,28,42,212,179,124,95,244,189,11,16,5,0
2,Darlington 003,E02002561,55,81,327,266,116,122,264,186,8,23,3,0

In [11]:
df4 = pd.read_csv("./data/census/NS_SeC_65_to_over.csv")
df4.head(3)

,MSOA_2011,MSOA_code_2011,1.1_Large_employers_and_higher_managerial_and_administrative_occupations,1.2_Higher_professional_occupations,"2._Lower_managerial,_administrative_and_professional_occupations",3._Intermediate_occupations,4._Small_employers_and_own_account_workers,5._Lower_supervisory_and_technical_occupations,6._Semi-routine_occupations,7._Routine_occupations,L14.1_Never_worked,L14.2_Long-term_unemployed,L15_Full-time_students,L17_Not_classifiable_for_other_reasons
0,Darlington 001,E02002559,40.0,100.0,295.0,201.0,228.0,104.0,178.0,127.0,37.0,5.0,1.0,0.0
1,Darlington 002,E02002560,13.0,20.0,120.0,138.0,68.0,127.0,220.0,199.0,32.0,0.0,1.0,0.0
2,Darlington 003,E02002561,22.0,37.0,168.0,162.0,70.0,112.0,205.0,169.0,41.0,0.0,2.0,0.0