In [39]:
import pandas as pd

### Importing Dataframes

In [40]:
data = './data/census/output-area-classification.csv'
classifier_df = pd.read_csv(data)

In [41]:
data = './data/Deprivation_Index/ID2015_Domains_of_deprivation.xlsx'
dod_df = pd.read_excel(data, sheet_name='ID2015 Domains')

In [43]:
dod_df.head(2)

,LSOA_code_2011,LSOA_name_2011,Local_Authority_District_code_2013,Local_Authority_District_name_2013,Index_of_Multiple_Deprivation_IMD_Rank,Index_of_Multiple_Deprivation_IMD_Decile,Income_Rank,Income_Decile,Employment_Rank,Employment_Decile,Education_Skills_and_Training_Rank,Education_Skills_and_Training_Decile,Health_Deprivation_and_Disability_Rank,Health_Deprivation_and_Disability_Decile,Crime_Rank,Crime_Decile,Barriers_to_Housing_and_Services_Rank,Barriers_to_Housing_and_Services_Decile,Living_Environment_Rank,Living_Environment_Decile
0,E01031349,Adur 001A,E07000223,Adur,21352,7,18992,6,19305,6,13727,5,25876,8,12817,4,28166,9,18367,6
1,E01031350,Adur 001B,E07000223,Adur,8864,3,9233,3,7879,3,6969,3,6883,3,12781,4,11399,4,16242,5

In [44]:
classifier_df.head(2)

,OA11CD,OAC11CD,OAC11NM,LSOA11CD,LSOA11NM,SOAC11CD,SOAC11NM,MSOA11CD,MSOA11NM,LAD17CD,LAD17NM,LACCD,LACNM,RGN11CD,RGN11NM,CTRY11CD,CTRY11NM,FID
0,E00070834,1a2,Established Farming Communities,E01014030,Herefordshire 009D,2b,Prospering countryside life,E02002913,Herefordshire 009,E06000019,"Herefordshire, County of",3a2r,Sparse English and Welsh Countryside,E12000005,West Midlands,E92000001,England,11001
1,E00070835,1a2,Established Farming Communities,E01014028,Herefordshire 009B,2a,Ageing rural neighbourhoods,E02002913,Herefordshire 009,E06000019,"Herefordshire, County of",3a2r,Sparse English and Welsh Countryside,E12000005,West Midlands,E92000001,England,11002

### Changes to output-area-classification dataframe 
* The columns OA11CD, OAC11CD and OAC11NM are not needed since they are smaller than LSOAs.
* The columns RGN11CD and RGN11NM are regions which are also not needed.
* The columns SOAC11CD and SOAC11NM are not needed.
* the columns LACCD and LACNM are not needed.
* The column CTRY11CD is country codes which is also not needed since we are only interested in England.
* FID is not needed.
I will drop all these columns from the dataframe.

In [45]:
classifier_df.drop(columns=['OA11CD', 'OAC11CD', 'OAC11NM', 'RGN11CD', 'RGN11NM', 'SOAC11CD','SOAC11NM', 'LACCD', 'LACNM', 'CTRY11CD', 'FID'], inplace=True)
classifier_df.head(2)

,LSOA11CD,LSOA11NM,MSOA11CD,MSOA11NM,LAD17CD,LAD17NM,CTRY11NM
0,E01014030,Herefordshire 009D,E02002913,Herefordshire 009,E06000019,"Herefordshire, County of",England
1,E01014028,Herefordshire 009B,E02002913,Herefordshire 009,E06000019,"Herefordshire, County of",England

In [46]:
classifier_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171372 entries, 0 to 173999
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   LSOA11CD  171372 non-null  object
 1   LSOA11NM  171372 non-null  object
 2   MSOA11CD  171372 non-null  object
 3   MSOA11NM  171372 non-null  object
 4   LAD17CD   171372 non-null  object
 5   LAD17NM   171372 non-null  object
 6   CTRY11NM  171372 non-null  object
dtypes: object(7)
memory usage: 10.5+ MB

The dataframe has data for England, Scotland and Wales. We only need England for this study.

In [48]:
classifier_df = classifier_df[classifier_df["CTRY11NM"]=="England"]

In [50]:
# The CTRY11NM column is no longer needed and is removed
classifier_df.drop(columns=["CTRY11NM"], inplace=True)

The dataframe has a lot of duplications.

In [54]:
classifier_df = classifier_df.drop_duplicates()

In [55]:
classifier_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32844 entries, 0 to 173846
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LSOA11CD  32844 non-null  object
 1   LSOA11NM  32844 non-null  object
 2   MSOA11CD  32844 non-null  object
 3   MSOA11NM  32844 non-null  object
 4   LAD17CD   32844 non-null  object
 5   LAD17NM   32844 non-null  object
dtypes: object(6)
memory usage: 1.8+ MB

In [58]:
# Double check to make sure that the LSOAs are all unique. 
len(classifier_df.LSOA11NM.unique()) == 32844

True

In [60]:
# MERGE classififier_df with dod_df